<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "https://www.springframework.org/dtd/spring-beans.dtd">

<beans>
			
<bean id="questions" class="AssignmentQ2.Question">

		<property name="questionId" value="123"/>
		<property name="question" value="Question A"/>
		
		<property name="listanswers">
		
			<list>
				<value>ansListA</value>
				<value>ansListB</value>
				<value>ansListC</value>
			</list>
			
		</property>
		
		<property name="setanswers">
		
			<set>			
				<value>ansSetA</value>
				<value>ansSettB</value>
				<value>ansSetC</value>				
			</set>
			
		</property>
		
		<property name="mapanswers">
		
			<map>			
				<entry key="1" value="ansMapA" />
				<entry key="2" value="ansMapB" />
				<entry key="3" value="ansMapC" />
			</map>
			
		</property>
</bean>









</beans>